@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --light-blue: hsl(209, 23%, 22%);
  --dark-blue: hsl(207, 26%, 17%);
  --black: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
.body {
  height: 100vh;
  width: 100vw;
}
* {
  font-family: "Nunito Sans", sans-serif;
}
.light-gray {
  background: var(--light-gray);
}

.light-dark-blue {
  background: var(--dark-blue);
  color: var(--white);
}

.light-blue {
  background: var(--light-blue);
  color: var(--white);
} 
.none {
  display: none;
}
.icon-padd {
  padding: 0rem 0.3rem;
}

.header,
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header {
  justify-content: space-between;
}
.header {
  padding: 1.6rem 3.5rem;
  position: sticky;
  top: 0;
  user-select: none;
}

.header p:last-child {
  cursor: pointer;
} 
/* search */
.search {
  padding: 3rem 3.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.s-firstDiv span {
  padding: 1rem 2rem;
  font-size: 1.3rem;
}
 
.select {
  font-size: 1rem;
}
.s-firstDiv { 
  box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  display: flex;
  flex-grow: 1;
}
.countrySearch,
.select {
  padding: 1rem;
  font-size: 1.5rem;
}
 .display-Main{ 
  height: 100vh;
}

.countrySearch {
  border: none;
  outline: none;
  width: 100%;
}

.select {
  cursor: pointer;
  text-align: center;
}
.neighbours {
  margin: 0.5rem;
  color: inherit;
  background: inherit;
}

/* display */
.matterr {
  display: flex;
  height: 100vh;
}

.matter div h2 {
  margin-left: 3rem;
}

.circle {
  margin-left: 1rem;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  animation: hero 0.3s ease-in infinite;
}

.black{ 
  border-top: 4px solid black;
}

.white{
  border-top: 4px solid white; 
}

@keyframes hero {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.height-full{ 
  height: 100vh; 
} 

.allCountries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, auto));
  align-items: stretch;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}

.country {
  margin: 3rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.image {
  width: 100%;
  object-fit: fill;
  height: 13rem;
}

.matter {
  padding: 0.6rem 0.5rem 3rem 1.4rem;
  font-size: 1.4rem;
}

.matter p {
  margin: 0.2rem 0;
}

.side-head {
  font-weight: 700;
}

.mode {
  font-size: 1.5rem;
}

.span-country { 
  font-weight: 700;
  font-size: 3rem;
}

/* COuntry  - -- seperate country */
.particular-country {
  display: flex;
}

.p-country {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.inner { 
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.c-info-one {
  flex-basis: 40%;
}

.p-country {
  flex-basis: 60%; 
}

.c-info-one img {
  height: auto;
  box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
  aspect-ratio: 2/1;
}

.p-country-main {
  padding: 0 3.5rem;
}

.inner2 {
  display: flex;
  flex-direction: column;
  align-items: last baseline;
}

.country-name {
  font-size: 2.5rem;
}

.c-info-last {
  text-align: center;
  margin-top: 2rem;
}

.go-back {
  box-shadow: 0px 0px 50px -15px rgba(0, 0, 0, 0.75);
}

.inner,
.c-info-last,
.go-back {
  font-size: 1.5rem;
}

.p-country {
  flex-wrap: wrap;
}

.go-back {
  text-decoration: none;
  padding: 0.8rem;
  width: 10rem;
  background: inherit;
  margin: 2rem 0;
  border-radius: 0.6rem;
}

.blue-border {
  border: 2px solid white;
}

.light-border {
  border: 2px solid black;
}

.neighbours {
  display: inline-block;
  border: 2px solid rgb(197, 185, 185);
  padding: 0.35rem 2rem;
}

@media (max-width: 1025px) {
  .c-info-one {
    flex-basis: 50%;
  }

  .p-country {
    flex-basis: 40%;
  }
}

@media (max-width: 769px) {
  .particular-country {
    flex-direction: column;
  }

  .allCountries {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }

  .matter div h2,
  .inner,
  .c-info-last {
    margin: 0;
  }
  .neighbours {
    padding: 0.2rem 0.7rem;
  }

  .inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .c-info-last {
    text-align: left;
    padding: 0;
  }

  .c-info-one img {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .select {
    width: 100%;
    margin: 0.3rem;
  }
  .header {
    padding: 0.3rem 0.2rem;
    display: flex;
    align-items: center;
  }

  .main-heading a {
    font-size: 1.3rem;
  }

  .mode {
    font-size: 1rem;
  }

  .country-name {
    font-size: 1.7rem;
  }

  .inner,
  .c-info-last,
  .go-back {
    font-size: 1rem; 
  }

  .go-back {
    padding: 0.2rem 0.2rem;
  }

  .p-country-main {
    padding: 0 1.5rem;
  }

  .countrySearch,
  .select {
    padding: 0.5rem;
    font-size: 1rem;
  }
  .s-firstDiv span {
    padding: 0.7rem 1rem;
    font-size: 1rem;
  }
  .neighbours {
    padding: 0.2rem 0.4rem;
    margin: 0 0.5rem;
  }
  .go-back{
    width: 7rem;
  }
}
 
